<!--
  Copyright (C) 2019 Istituto Italiano di Tecnologia (IIT)
  All rights reserved.
 
  This software may be modified and distributed under the terms of the
  GNU Lesser General Public License v2.1 or any later version.
 -->
<launch>
   <arg name="model" default="$(find iCub)/robots/$(env YARP_ROBOT_NAME)/model.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" /> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" />    
</launch>

